<!DOCTYPE html>
<html>
  <head>
    <title>DreamboardReduxReact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj9cQqRUC1qwXogm5Eck2zJr7V7yWc4YQ&libraries=geometry,places,visualization">
    </script>
    <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="notranslate" name="google"/>
    <meta content="en_US" http-equiv="Content-Language"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
